@media (min-width: 1000px) {


    .bar {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .bar a:hover {
        background-color: var(--accent-color);
    }

    .flex-contain {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        margin: 20px auto;
        max-width: 1200px;

    }

    .aboutme {
        width: 70%;
        margin-right: 15px;

    }

    .aboutme p {
        margin-left: 10px;
    }

    .studentphoto {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-bottom: 10px;
        justify-content: center;

    }

    .course-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }

    .course-buttons button {
        border-radius: 15px;
        width: 30%;
        height: 50px;
        font-size: large;
        justify-content: space-around;
    }

    #course-cert {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }


    #course-cert li {
        background-color: var(--primary-text);
        color: var(--primary-background);
        border-radius: 15px;
        height: 50px;
        width: 30%;
        font-size: large;
        align-content: center;
    }



    #menu {
        display: none;
    }


}